
// ------------------------------------
// Root
// ------------------------------------

*,
*:before,
*:after {
    box-sizing: border-box;
}

// 1. Apply base font-size as a percentage of the browser’s default.
// N.B. -webkit-text-size-adjust is taken care of by normalize.

html {
    font-family: $text-face;
    font-size: $base-font-size / $browser-default-font-size * 100%; // 1
    line-height: $base-leading-ratio;
    color: $text-color;
}


// ------------------------------------
// Links
// ------------------------------------

a {
    @include link-with-state;
}


// ------------------------------------
// Text
// ------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.25;
}

h1 {
    font-size: $size-a;
}

h2 {
    font-size: $size-b;
}

h3 {
    font-size: $size-c;
}

h4 {
    font-size: $size-d;
}

h5,
h6 {
    font-size: $size-base;
}

p,
blockquote {
    margin: v-space(0.5) 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// Paragraph-level thematic break.
hr {
    width: 33.333%;
    margin: v-space() 0;
    border: solid $border-color;
    border-width: 0 0 1px;
}

ol,
ul,
dl {
    padding: 0;
    margin: 0;
}

li {
    display: block;
    list-style: none;
}

dt,
dd {
    margin: 0;
}

address {
    display: block;
    margin: 0;
}


// ------------------------------------
// Media
// ------------------------------------

img {
    max-width: 100%;
    height: auto;
}


// ------------------------------------
// Tables
// ------------------------------------

table {
    width: 100%;
    margin: v-space() 0;
    border-collapse: collapse;
}

tbody {
    border: solid $border-color;
    border-width: 1px 0;
}

th,
td {
    padding: v-space(0.5) 0;
    vertical-align: middle;
}

th {
    border-bottom: 1px solid $border-color;
    font-weight: bold;
    text-align: left;
}


// ------------------------------------
// Forms/Controls
// ------------------------------------

[role="button"] {
    cursor: pointer;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

// 1. Make form legends behave like normal block elements.
legend {
    display: block; // 1
    float: left; // 1
    width: 100%; // 1
}

// 1. Prevent tappable area of labels from growing beyond their text.
label {
    display: table; // 1
    margin-bottom: v-space(0.5);

    &[for] {
        cursor: pointer;
    }
}

// @todo integrate remainder of vellum base form styles

input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
    width: 100%;
    // etc.
}
