
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

// 1. Make form legends behave like normal block elements.
legend {
    display: block; // 1
    float: left; // 1
    width: 100%; // 1
}

// 1. Ensure tappable area doesn’t extend beyond label text.
label {
    display: table; // 1
    margin-bottom: v-space(0.5);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:active {
        @include link-active;
    }
}

// @todo Remaining form styles as per Vellum.
