
// ------------------------------------
// Links
// ------------------------------------

a {
    @include link-with-state;
}


// ------------------------------------
// Headings
// ------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.25;
}

h1 {
    font-size: $size-a;
}

h2 {
    font-size: $size-b;
}

h3 {
    font-size: $size-c;
}

h4 {
    font-size: $size-d;
}

h5,
h6 {
    font-size: $size-base;
}


// ------------------------------------
// Paragraphs, quotes and separators
// ------------------------------------

p,
blockquote {
    margin: v-space(0.5) 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

// Paragraph-level thematic break.
hr {
    width: 33.333%;
    margin: v-space() 0;
    border: solid $border-color;
    border-width: 0 0 1px;
}


// ------------------------------------
// Other
// ------------------------------------

// @todo Fill this out with stuff that is actually useful.

// Useful for struck-out regular pricing.
s {}

pre {}

code {}
